<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/admin_layout}">


<!-- head -->
<?php include "inc/admin_head.html"; ?>

<th:block layout:fragment="adminContent">
<body>
	<article class="admin_container">
		<?php include "inc/admin_menus.html"; ?>

		<div class="admin_contents_area">
			<!-- 타이틀 및 서포팅메뉴 -->
			<div class="fb_cc admin_contnets_head">
				<p>회원관리 &nbsp; > &nbsp; <span>크리에이터</span></p>
				<!-- 서포팅 메뉴 -->
				<?php include "inc/admin_public_menu.html"; ?>
			</div>
			
			<!-- 검색영역 -->
			<div class="fb_ec admin_search_area">
				<select>
					<option>-선택-</option>
				</select>
				<input type="text" />
				<button type="button" class="w100 h35 point">검색</button>
			</div>
			
			<!-- 내용 목록 테이블  -->
			<table class="admin_list_tb">
				<tr>
					<th>번호</th>
					<th>아이디</th>
					<th>닉네임</th>
					<th>크리에이터 상태</th>
					<th>페이지 이름</th>
					<th>URL</th>
					<th>크리에이터 등록일</th>
				</tr>
				<tr>
					<td>1</td>
					<td><a href="mem_c_view.html" th:href="@{/admin/mem_c_view}">aa@aa.net</a></td>
					<td><a href="mem_c_view.html" th:href="@{/admin/mem_c_view}">뽀리왕</a></td>
					<td>정상</td>
					<td>나야나 사이트</td>
<!--					새 창으로 링크-->
					<td>http://aaa.aaaaaaa.net</td>
					<td>2022-06-13 22:30</td>
				</tr>
				<tr>
					<td>2</td>
					<td></td>
					<td></td>
					<td><span class="mem_stop">정지</span></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>3</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			
			<!-- 페이징 -->
			<div class="fb_cc paging_area">
				<a href="#">&lt;</a>
				&nbsp;&nbsp;&nbsp;
				<span>1</span>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#">7</a>
				<a href="#">8</a>
				<a href="#">9</a>
				<a href="#">10</a>
				&nbsp;&nbsp;&nbsp;
				<a href="#">&gt;</a>
			</div>
		</div>
	</article>

	<!-- FOOTER -->
	<?php include "../static/inc/footer.html"; ?>
</body>
</th:block>
</html>