<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/admin_layout}">


<!-- head -->
<?php include "inc/admin_head.html"; ?>

<th:block layout:fragment="adminContent">
<body>
	<article class="admin_container">
		<?php include "inc/admin_menus.html"; ?>

		<div class="admin_contents_area">
			<!-- 타이틀 및 서포팅메뉴 -->
			<div class="fb_cc admin_contnets_head">
				<p>회원관리 &nbsp; > &nbsp; <span>전체 회원 리스트</span></p>
				<!-- 서포팅 메뉴 -->
				<?php include "inc/admin_public_menu.html"; ?>
			</div>
			
			<!-- 검색영역 -->
			<div class="fb_ec admin_search_area">
				<select>
					<option>-선택-</option>
				</select>
				<input type="text" />
				<button type="button" class="w100 h35 point">검색</button>
			</div>
			
			<!-- 내용 목록 테이블  -->
			<table class="admin_list_tb">
				<thead>
					<tr>
						<th>번호</th>
						<th>아이디</th>
						<th>닉네임</th>
						<th>상태</th>
						<th>활동구분</th>
						<th>등급</th>
						<th>가입일시</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${pageList}">
						<td th:text="${p.getMiSeq()}"></td>
						<td class="tdLink"><a th:href="@{/admin/mem_all_view/{id}(id=${p.getMiSeq()})}" th:text="${p.getMiId()}"></a></td>
						<td class="tdLlink"><a th:href="@{/admin/mem_all_view}" th:text="${p.getMiNick()}"></a></td>
						<td>
							<div th:switch="${p.getMiState()}">
								<p th:case="'1'">정상</p>
								<p th:case="'2'" class="mem_stop">정지</p>
								<p th:case="'3'" class="mem_del">삭제</p>
							</div>
						</td>
						<td>
							<div th:switch="${p.getMiKind()}">
								<p th:case="'C'" class="mem_creator">크리에이터</p>
								<p th:case="'V'">구독자</p>
							</div>
						</td>
						<td th:text="${p.getMiLevel()}"></td>
						<td th:text="${p.getMiRegdt()}"></td>
					</tr>
				</tbody>
			</table>

<!--			&lt;!&ndash; 페이징 &ndash;&gt;-->
<!--			<div class="fb_cc paging_area">-->
<!--&lt;!&ndash;				startPage=${T(Math).floor(pageNumber/pageSize)*pageSize+1}&ndash;&gt;-->
<!--				<nav th:with="pageNumber=${pageList.pageable.pageNumber}, pageSize=${pageList.pageable.pageSize}, totalPages=${pageList.totalPages}, tempEndPage=${startPage + pageSize - 1}, endPage=(${tempEndPage > totalPages ? totalPages : tempEndPage})">-->
<!--	&lt;!&ndash;				첫번쨰 페이지&ndash;&gt;-->
<!--					<th:block th:classappend="${pageNumber + 1 <= pageSize + 1} ? 'disabled'">-->
<!--						<a th:href="@{/admin/mem_all_list(page=1)}">&laquo;</a>-->
<!--					</th:block>-->

<!--	&lt;!&ndash;				이전 페이지&ndash;&gt;-->
<!--					<th:block th:classappend="${pageList.first} ? 'disabled'">-->
<!--						<a th:href="${pageList.first} ? '#' : @{/admin/mem_all_list(page=${#numbers.formatDecimal(startPage - pageSize, 0, -1)})}">&lt;</a>-->
<!--					</th:block>-->

<!--	&lt;!&ndash;				페이지 번호들&ndash;&gt;-->
<!--					<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'">-->
<!--						<a th:href="@{/admin/mem_all_list(page=${page})}" th:text="${page}">-->
<!--							<strong th:text="${page}" style="color : red"></strong>-->
<!--						</a>-->
<!--					</th:block>-->

<!--	&lt;!&ndash;				다음 페이지&ndash;&gt;-->
<!--					<th:block th:classappend="${pageList.last} ? 'disabled'">-->
<!--						<a th:href="${pageList.last} ? '#' : @{/admin/mem_all_list(page=${#numbers.formatDecimal(startPage + pageSize, 0, -1)})}">&gt;</a>-->
<!--					</th:block>-->

<!--	&lt;!&ndash;				마지막 페이지&ndash;&gt;-->
<!--&lt;!&ndash;					<th:block th:classappend="${T(Math).floor(totalPages/10) + 10 <= startPage} ? 'disabled'">&ndash;&gt;-->
<!--&lt;!&ndash;						<a th:href="@{/admin/mem_all_list(page=${totalPages})}">End</a>&ndash;&gt;-->
<!--&lt;!&ndash;					</th:block>&ndash;&gt;-->
<!--				</nav>-->
<!--			</div>-->





			<div class="fb_cc paging_area">
				<th:block th:each="page : ${#numbers.sequence(startPage2, endPage2)}">
					<a th:if="${page != nowPage}" th:href="@{/admin/mem_all_list(page=${page - 1})}" th:text="${page}"></a>
					<strong th:if="${page == nowPage}" th:text="${page}" style="color:red"></strong>
				</th:block>
			</div>





		</div>
	</article>

	<!-- FOOTER -->
<!--	<?php include "../static/inc/footer.html"; ?>-->
</body>
</th:block>
</html>